<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="publicNavbar(active)" class="bg-dark sticky-top">
    <nav class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-2">
        <div class="col-md-3 mb-2 mb-md-0">
            <a th:href="@{/}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img th:src="@{/img/Logo.png}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                <span class="jakarta-extrabold text-light"> PLAYAPP</span>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a th:href="@{/}"
                   class="nav-link text-light px-2"
                   th:classappend="${active == 'inicio'} ? ' jakarta-extrabold active' : ''">
                    Inicio
                </a>
            </li>
            <li>
                <a th:href="@{/shop}"
                   class="nav-link text-light px-2"
                   th:classappend="${active == 'tienda'} ? ' jakarta-bold active' : ''">
                    Tienda
                </a>
            </li>
            <li>
                <a th:href="@{/resena}"
                   class="nav-link text-light px-2"
                   th:classappend="${active == 'contacto'} ? ' jakarta-bold active' : ''">
                    Contacto
                </a>
            </li>
        </ul>

        <div class="col-md-3 text-end d-inline-flex align-items-center justify-content-end gap-2">
            <a th:href="@{/cart/checkout}" class="btn btn-primary position-relative me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bag-fill" viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                </svg>
                <span th:text="${carrito != null ? carrito : 0}"
                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0
                    <span class="visually-hidden">productos agregados</span>
                </span>
            </a>

            <a sec:authorize="isAuthenticated()" th:href="@{/user/orders}" class="btn btn-outline-primary me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-clock-history" viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>

            <form sec:authorize="isAuthenticated()" class="btn p-0" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-primary me-2" value="Sign Out">
                    Salir
                </button>
            </form>

            <a th:href="@{/login}" sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary me-2">
                Iniciar
            </a>
            <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="btn btn-primary me-2">
                Registrarse
            </a>

            <span class="navbar-text text-light"
                  style="white-space: nowrap;"
                  th:if="${nombreUsuario != null and !#strings.isEmpty(nombreUsuario)}">
                Hola, <span th:text="${nombreUsuario}">usuario</span>
            </span>
        </div>
    </nav>
</header>
</body>
</html>
