MONGODB_URI=
MONGODB_DATABASE=

REDIS_HOST=
REDIS_PORT=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=
MAIL_SMTP_STARTTLS=

PLAYAPP_ADMIN_EMAIL=
PLAYAPP_ADMIN_PASSWORD=
PLAYAPP_BASE_URL=

MP_ACCESS_TOKEN=
MP_USE_SANDBOX=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_BASE_URL=

PLAYAPP_MONGO_PORT=
PLAYAPP_REDIS_PORT=
PLAYAPP_APP_PORT=
